@model List<BlackJack.ViewModels.PlayerGameViewItem>
@{
    ViewBag.Title = "Play";
}

<div id="result">
    <h2>HandOverCards</h2>
    <table class="table">
        <h1>Cards:</h1>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Name
                <td>
                    @foreach (var t in item.Cards)
                    {
                        @t.Value
                        <span>, </span>
                    }
                </td>
                </td>
            </tr>
        }
    </table>



    <h1>Total scores:</h1>
    <table class="table" id="table">
        @for (int i = 0; i < Model.Count; i++)
        {
            <tr>
                <td id="@("name"+i)">
                    @Model[i].Name:
                <td id="@("score"+i)">
                    @Model[i].Score
                </td>
                </td>
            </tr>
        }
    </table>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary">@Html.ActionLink("ViewHistory", "History", "Game", new { area = "" }, new { @class = "startNewGameBtnModal" })</button>
                <button type="button" class="btn btn-primary">@Html.ActionLink("Start new game", "Start", "Game", new { area = "" }, new { @class = "startNewGameBtnModal" })</button>
            </div>
        </div>
    </div>
</div>