
@{
    ViewBag.Title = "Play";
}

<div id="result">
    <h2>HandOverCards</h2>
    <table class="table">
        <h1>Cards:</h1>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Name
                    <td>
                        @foreach (var t in item.Cards)
                        {
                            @t.Value
                            <span>, </span>
                        }
                    </td>
                </td>
            </tr>
        }
    </table>



    <table class="table">
        <h1>Total scores:</h1>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Name:
                    <td>
                        @item.Score
                    </td>
                </td>
            </tr>
        }
    </table>

   

</div>

@*<button name="takeCard" type="submit" value="true" id="more">More</button>
<button name="takeCard" type="submit" value="false" id="enough">Enough</button>

<script type="text/javascript">
    $(document).ready(function () {

        $('#more').click(function () {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("More", "Game")',
            success: function(data){
                $('#result').replaceWith(data);
                alert("Refresh");
            }
            });
        });

        $('#enough').click(function () {
            $('#enough').prop('disabled', true);
            $('#more').prop('disabled', true);
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Enough", "Game")',
                success: function(data){
                    $('#result').replaceWith(data);
                    alert("Refresh");
                }
            });
        });




    });
</script>*@


